.todoItem {
    display: flex;
    flex-direction: column;
    position: relative;
    background: #fbf8f8;
    padding: 10px;
    border: 1px solid #626262;
    border-radius: 5px;
    margin-bottom: 10px;
}

.completedItem {
    opacity: 0.4;
}

.checkbox {
    width: 15px;
    height: 15px;
}

.todoItemText {
    padding-left: 5px;
    font-weight: bold;
    text-align: left;
}

.todoItemContent {
    display: flex;
}

.todoItemToolbar {
    display: flex;
    margin-left: auto;
}

.todoDescription {
    text-align: justify;
    overflow-wrap: break-word;
}

.editIcon {
    color: green;
}

.removeIcon {
    color: #de0404;
}

.checkIcon {
    color: #13b7ca;
}

.completedItem .checkIcon {
    color: #000000;
}

.todoItem i {
    margin-left: 10px;
}

.todoItem i:hover {
    opacity: 0.8;
}