.Todo {
    padding: 20px;
    border: 1px solid #626262;
    border-radius: 5px;
    margin: 20px;
    color: #626262;
    font-family: 'Courgette', cursive;
    background: #ffffff;
}

.todoHeader {
    display: flex;
    justify-content: space-between;
}

.todoTitle {
    font-size: 20px;
    font-weight: bold;
}

.addButton {
    display: flex;
    font-size: 16px;
    color: green;
    position: relative;
    padding-left: 20px;
    cursor: pointer;
}

.addButton:hover {
    opacity: 0.8;
}

.addButton i {
    position: absolute;
    left: 0;
    top: 3px;
}

.hrLine {
    margin: 20px 0;
    padding: 0;
    height: 10px;
    border: none;
    border-top: 1px solid #626262;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.Toolbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.buttonGroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

select {
    height: 22px;
    border-radius: 4px;
}

.button {
    display: block;
    min-width: 50px;
    border-radius: 4px;
    border: 1px solid black;
    cursor: pointer;
    margin-left: 10px;
    background: #ffffff;
}

@media only screen and (max-width: 600px) {
    .buttonGroup  {
        flex-direction: column;
    }
    .button {
        margin-left: 0px;
        margin-top: 10px;
    }
}

.error {
    background: #f39c9c;
}